# Ignore IntelliJ IDEA workspace file
.idea/workspace.xml
# Ignore extension libraries
extension/lib/**/zal-*.jar
# Ignore extension build files
extension/build/
extension/docs/
# Ignore output files
dist/
extension/dav-soap-connector-extension.jar
zimlet/tk_barrydegraaff_owncloud_zimlet.zip
zimlet/config_template.xml
owncloud-extension.tar.gz
