#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'# Reboot after installation
reboot
# Root password
rootpw foobar
# System timezone
timezone Europe/Amsterdam
# Use network installation
url --url="http://mirror.cisp.com/CentOS/7/os/x86_64/"
repo --name=epel --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64/
# System language
lang en_US
# Firewall configuration
firewall --enabled --ssh
# Network information
network  --bootproto=dhcp --device=eth0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --enabled
# Do not configure the X Window System
skipx

# System bootloader configuration
bootloader --location=mbr
zerombr
clearpart --all --initlabel

# Disk partitioning information
part swap --asprimary --fstype="swap" --size=2200
part /boot --fstype=ext4 --size=500
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype ext4 --name=lv01 --vgname=rootvg01 --size=1 --grow

%packages
@base
@core
epel-release
chrony
nmap-ncat
perl-core
git
httpd
mod_ssl
php
php-pdo
php-mysql
php-gd
php-mbstring
php-xml
php-intl
php-mcrypt
php-smbclient
php-ldap
php-imap
php-pecl-apcu
apcu-panel
php-pecl-imagick
libreoffice
mariadb
mariadb-server
%end

%post
cd /var/www
wget https://download.owncloud.org/community/owncloud-9.1.1.tar.bz2
tar jxvf owncloud-9.1.1.tar.bz2
rm -rf html
mv owncloud html
chown -R apache html
head -c12 /dev/urandom |base64 > /root/dbpass
echo "<?php" > html/config/autoconfig.php
echo "\$AUTOCONFIG = array(" >> html/config/autoconfig.php
echo '  "dbtype"        => "mysql",' >> html/config/autoconfig.php 
echo '  "dbname"        => "owncloud",' >> html/config/autoconfig.php 
echo '  "dbuser"        => "owncloud",' >> html/config/autoconfig.php 
echo '  "dbpass"        => "'`cat /root/dbpass`'",' >> html/config/autoconfig.php
echo '  "dbhost"        => "localhost",' >> html/config/autoconfig.php
echo '  "dbtableprefix" => "",' >> html/config/autoconfig.php
echo '  "directory"     => "/var/www/html/data",' >> html/config/autoconfig.php
echo ');' >> html/config/autoconfig.php
systemctl enable httpd
systemctl enable mariadb
chmod +x /etc/rc.d/rc.local
cat > /root/bootstrap.sh << EOF
echo "create database owncloud;" > /root/bootstrap.sql
echo "grant all on owncloud.* to 'owncloud'@'localhost' identified by '`cat /root/dbpass`';" >> /root/bootstrap.sql
echo "flush privileges;" >> /root/bootstrap.sql
systemctl start mariadb
/usr/bin/mysql -uroot < /root/bootstrap.sql
/usr/bin/firewall-cmd --zone=public --add-port=443/tcp --permanent
/usr/bin/firewall-cmd --zone=public --add-port=80/tcp --permanent
/usr/bin/firewall-cmd --reload
echo "#!/bin/bash" > /etc/rc.local
echo "touch /var/lock/subsys/local" >> /etc/rc.local
chmod +x /etc/rc.d/rc.local
rm -f /root/bootstrap.sh
rm -f /root/bootstrap.sql
rm -f /root/dbpass
EOF
chmod +x /root/bootstrap.sh
echo /root/bootstrap.sh >> /etc/rc.local
%end
